<section class='conteiner'>
    <div class='left'>
        <figure>
            <img src='../../../assets/img.png' class='logo' alt='imagem da hamburger'>
        </figure>
    </div>
    <div class='right'>
        <form class='login-form'>
            <h2 class='subtitle'>BurguerBots</h2>
            <div class='inputs-container'>
                <input type='text' class='inputs-info' placeholder='E-mail' id='email' />
                <input type='password' class='inputs-info' placeholder='Senha' id='senha' />
                <nav>
                    <button type='button' id='login-button' class='submit' href='#'>Entrar</button>
                </nav>
            </div>
        </form>
    </div>
</section>
