<body>
    <section class="conteiner">
        <div class="conteiner-users">
            <div class="conteiner-users__list">
                <p>Lista de funcionários</p>
                <ul>
                    <li *ngFor="let user of users">{{ user.email }} - {{ user.role }}</li>
                </ul>
            </div>
            <div class="conteiner-users__modification">
                <p>Atualização de cadastro</p>
                <ul>
                    <li *ngFor="let user of users">{{ user.email }} - {{ user.role }}
                            <button class="img">
                                Editar
                            </button>
                            <button class="img">
                                Excluir
                            </button>
                    </li>
                </ul>
                <p class="add">
                    + Adicionar funcionário
                    <button class="add-contact" (click)="adicionarUsuario()">
                        <img src="../../../../assets/contato.png" alt="imagem adicionar contato">
                    </button>
                </p>
                
                <div class="new-user-form">
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" id="email" [(ngModel)]="newUser.email">
                    </div>
                    
                    <div>
                        <label for="password">Senha:</label>
                        <input type="password" id="password" [(ngModel)]="newUser.password">
                    </div>
                    
                    <div>
                        <label for="role">Rol:</label>
                        <input type="text" id="role" [(ngModel)]="newUser.role">
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</body>