<body>
    <section class="conteiner">
        <div class="conteiner-users">
            <div class="conteiner-users__list">
                <p>Lista de funcionários</p>
                <ul>
                    <li *ngFor="let user of users">{{ user.email }} - {{ user.role }}</li>
                </ul>
            </div>
            <div class="conteiner-users__modification">
                <p>Atualização de cadastro</p>
                <ul>
                    <li *ngFor="let user of users">{{ user.email }} - {{ user.role }}
                        <figure class="img">
                            <button>
                                <img src="../../../../assets/edit.png" alt="imagem editar contato">
                            </button>
                            <button>
                                <img src="../../../../assets/lixo.png" alt="imagem lixo">
                            </button>
                        </figure>
                    </li>
                </ul>
                <p class="add">+ Adicionar funcionário</p>
                <button class="add-contact">
                    <img src="../../../../assets/contato.png" alt="imagem adicionar contato">
                </button>
            </div>
        </div>
    </section>
</body>