.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  color: var(--letterColor);
}

.conteiner-users {
  border: solid 2px var(--letterColor);
  width: 20em;
}

.conteiner-users__list {
  margin-bottom: 2em;
 }

.conteiner-users__list p {
  margin-bottom: 1em;
  text-align: center;
  background-color: var(--letterColor);
  color: var(--firstColor);
  font-weight: bold;
}


.conteiner-users__modification p {
  text-align: center;
  background-color: var(--letterColor);
  margin-bottom: .5em;
  color: var(--firstColor);
  font-weight: bold;
}

.conteiner-users__modification .img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 1em;
}

.conteiner-users__modification img {
  width: 30px;
  height: 30px;
}

ul li {
  list-style-type: none;
}

li {
  text-align: center;
}

.add {
  margin-top: 1em;
}

button.add-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin-left: 180px;
  background-color: var(--firstColor);
}


button.img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-left: 140px;
  border-radius: 5px;
  width: 60px;
  background-color: var(--firstColor);
  color: var(--letterColor)
}

.new-user-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.3em;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.button-container button{
  margin-top: 1em;
  border-radius: 5px;
  width: 200px;
  background-color: var(--firstColor);
  color: var(--letterColor);
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .conteiner-users {
    width: 30em;
  }

  button.add-contact,
  button.img  {
    margin-left: 220px;
  }
}