header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
 
}
.logo {
    background-color: var(--firstColor);
}

.title {
    color: var( --letterColor);
    font-size: 2em;
}

header img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.seta {
    margin-right: 50px;
    background-color: var(--firstColor);
    border: none;
    cursor: pointer;
}