<body>
    <section class="conteiner">
        <div class='conteiner-inputs'>
            <input type='text' class='inputs-info' placeholder='Nome' id='nome' />
            <input type='text' class='inputs-info' placeholder='Mesa' id='mesa' />
        </div>
        <div class="conteiner-buttons">
            <button type='button' id='breakfast-button' class='submit' href=''>Café da Manhã</button>
            <button type='button' id='menu-button' class='submit' href=''>Menu Principal</button>
        </div>
    </section>
</body>