@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

:root {
  --bgColor: #1FC4BA;
  --firstColor: #CAFCF9;
  --letterColor: #634E4E;
  --btnOrder: #D9D9D9;
  --bgOrder: #000000;
  --btnBack: #A9FFFA;
}

body {
  padding: 0;
  font-family: 'Sofia Sans', sans-serif;
  color: var(--letterColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
