<body>
    <section class="conteiner">
        <div class="conteiner-products">
            <div class="conteiner-products__list">
                <p class="product">Lista de Productos</p>
                <ul class="product-list">
                    <li *ngFor="let product of products" class="product-item">
                        <div class="product-content">
                            <img [src]="product.image" alt="{{ product.name }}" class="img-product">
                            <p>{{ product.name }} - R${{ product.price }}</p>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="conteiner-products__modification">
                <p class="actualization">Atualização de produtos</p>
                <ul>
                    <li *ngFor="let product of products">
                        <p>{{ product.name }} - R${{ product.price }}</p>
                        <button class="img">
                            Editar
                        </button>
                        <button class="img">
                            Excluir
                        </button>
                    </li>
                </ul>
                <p class="add">+ Adicionar produto</p>
                <button class="add-contact">
                    <img src="../../../../assets/contato.png" alt="imagem adicionar contato">
                </button>
            </div>
        </div>
    </section>
</body>