<body>
    <section class="conteiner-pedidos">
        <h4>Pedidos prontos</h4>
        <div class="conteiner-products__prontos">
            <div class="pedidos">
                <ul>
                    <li>Nome e Mesa</li>
                    <li>Nome e Mesa</li>
                </ul>
            </div>
        </div>
        <h4>Pedidos entregues</h4>
        <div class="conteiner-products__entregues">
            <div class="pedidos">
                <ul>
                    <li>Nome e Mesa</li>
                    <li>Nome e Mesa</li>
                </ul>
            </div>
        </div>
    </section>
</body>
