body {
  background-color: var(--bgColor);
  width: 80%;
  margin-left: 30px;
  color: var(--letterColor);
}

.conteiner-pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  background-color: var(--firstColor);
  min-height: 30vh;
  margin-bottom: 5em;
}

.conteiner-products__prontos {
    display: flex;
    flex-direction: column;
    justify-content: center;
      width: 80%;
    background-color: var(--bgColor);
    }
  
    .conteiner-products__entregues {
      display: flex;
      flex-direction: column;
      justify-content: center;
        width: 80%;
      background-color: var(--bgColor);
      margin-bottom: 1em;
      }
      .entregues {
        margin-top: 2em;
      }
  
      .pedidos {
        background-color: var(--bgColor);
        border: 2px solid var(--bgColor);
      }

      ul li {
        background-color: var(--firstColor);
        list-style: none;
       text-align: center;
       margin-top: .5em;
       margin-bottom: .5em;
      }
      
      @media only screen and (min-width: 450px) and (max-width: 600px){
        .conteiner-pedidos{
          width: 100%;
          margin-left: 2px;
        }
      }

      @media only screen and (min-width: 600px) and (max-width: 767px){
        .conteiner-pedidos{
          width: 75%;
          margin-left: 56px;
        }
      }
      
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .conteiner-pedidos{
          display: flex;
          width: 90%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 70px;
        }
      }

      @media only screen and (min-width: 1025px) {
        .conteiner-pedidos{
         width: 84%;
         margin-left: 8em;
        }
      }

      @media only screen and (min-width: 1400px) {
        .conteiner-pedidos{
         width: 79%;
         margin-left: 15em;
        }
      }

      @media only screen and (min-width: 1600px) {
        .conteiner-pedidos{
         width: 84.5%;
         margin-left: 15em;
         
        }
      }