footer {
    background-color: var(--firstColor);
    margin-top: 41.8em;
    height: 40px;
    text-align: center;
}

footer p {
    font-size: 1.2em;
    padding-top: .4em;
    color: var(--letterColor);
}