<body>
    <section class="conteiner-products">
        <div class="conteiner-products__breakfast">
            <div class="breakfast">
                <ng-container *ngFor="let product of products">
                    <div *ngIf="product.type === 'Café da Manhã'">
                        <img [src]="product.image" alt="{{ product.name }}">
                        <p>{{ product.name }} R${{ product.price }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    
        <div class="conteiner-products__mainMenu">
            <div class="mainMenu">
                <ng-container *ngFor="let product of products">
                    <div *ngIf="product.type === 'Menu Principal'">
                        <img [src]="product.image" alt="{{ product.name }}">
                        <p>{{ product.name }} R${{ product.price }}</p>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="conteiner-products__resumoPedido">
            <h4>Resumo do Pedido</h4>
            <div class="conteiner-products__all">
                <ul>
                    <li>
                        <p class="contador" id="contador-products">2</p>
                        <p class="products">Café americano R$10</p>
                        <button type='button' class='delete' id='btn-delete'>
                            <img src='./assets/lixo.png' alt='delete image' class='icons-delete'>
                        </button>
                    </li>
                    <li>
                        <p class="contador" id="contador-products1">1</p>
                        <p class="products">Sanduíche R$10</p>
                        <button type='button' class='delete' id='btn-delete'>
                            <img src='./assets/lixo.png' alt='delete image' class='icons-delete'>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="total">
                <p>Total</p>
            </div>
            <div class="enviar">
                <button>Enviar</button>
            </div>
        </div>
    </section>
</body>