<body>
    <section class="conteiner-products">
        <div class="conteiner-products__breakfast">
            <div class="breakfast">
                <img src="./assets/caf.png" alt="">
                <p>Café americano R$5</p>
                <img src="./assets/juice.png" alt="">
                <p>Suco de fruta natural R$7</p>
            </div>
        </div>

        <div class="conteiner-products__mainMenu">
            <div class="mainMenu">
                <img src="./assets/bur.png" alt="">
                <p>Hambúrguer simples
                    R$10</p>
                <img src="./assets/fried.png" alt="">
                <p>Batata frita R$5 </p>
            </div>
        </div>
        <div class="conteiner-products__resumoPedido">
            <h4>Resumo do Pedido</h4>
            <div class="conteiner-products__all">
                <ul>
                    <li>
                        <p class="contador" id="contador-products">2</p>
                        <p class="products">Café americano R$10</p>
                        <button type='button' class='delete' id='btn-delete'>
                            <img src='./assets/lixo.png' alt='delete image' class='icons-delete'>
                        </button>
                    </li>
                    <li>
                        <p class="contador" id="contador-products1">1</p>
                        <p class="products">Sanduíche R$10</p>
                        <button type='button' class='delete' id='btn-delete'>
                            <img src='./assets/lixo.png' alt='delete image' class='icons-delete'>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="total">
                <p>Total</p>
            </div>
            <div class="enviar">
                <button>Enviar</button>
            </div>
        </div>
    </section>
</body>