<body>
    <section class="conteiner-products">
        <div class="conteiner-products__breakfast" *ngIf="showBreakfastContainer">
            <div class="breakfast">
                <ng-container *ngFor="let product of products">
                    <div *ngIf="product.type === 'Café da Manhã'">
                        <img [src]="product.image" alt="{{ product.name }}" (click)="selectProduct(product)">
                        <p>{{ product.name }} R${{ product.price }}</p>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="conteiner-products__mainMenu" *ngIf="showMainMenuContainer">
            <div class="mainMenu">
                <ng-container *ngFor="let product of products">
                    <div *ngIf="product.type === 'Menu Principal'">
                        <img [src]="product.image" alt="{{ product.name }}" (click)="selectProduct(product)">
                        <p>{{ product.name }} R${{ product.price }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="conteiner-products__resumoPedido">
            <h4>Resumo do Pedido</h4>
            <div class="conteiner-products__all">
                <ul>
                    <li *ngFor="let product of selectedProducts">
                        <p class="contador">{{ product.quantity }}</p>
                        <p class="products">{{ product.name }} R${{ product.price }}</p>
                        <button type='button' class='delete' (click)="removeSelectedProduct(product)">
                            <img src='./assets/lixo.png' alt='delete image' class='icons-delete'>
                        </button>                    
                    </li>
                </ul>
            </div>
            <div class="total">
                <p>Total: R${{ calculateTotal() }}</p>
              </div>
              
              <button class="enviar" type="button" (click)="enviarPedido()" [disabled]="!atLeastOneProductSelected">Enviar</button>

        </div>
    </section>
</body>